body{
	background-image: url("../images/textile.jpg");
	background-size:cover;
background-size:contain;
font-family: 'Alegreya Sans', sans-serif;
}

.jumbotron {
	background-image: url("../images/up.jpg");
	background-size:cover;
	height:100%;
	width:auto;
}

.jumbotronwidth
{
max-width:100%;
max-height: auto;
}

h1{
	color:white;
font-family: 'Alegreya Sans', sans-serif;

}

.main_picture {
    max-width: 100%;
    height: auto;
}

.container {
	color:rgba(255,255,255,1);
	background:#966;
	background: linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.9));
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.9));
	background: -moz-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,.9));
	bottom:0px;
}


.carousel-inner img {
  margin: auto;
}

.main_picture{

}

/*.section2 {
background-image: url("../images/textile.jpg");
	background-size:cover;
background-size:contain;
}*/


.btn-social {
	height:40px;
	width: 120px;
	border-radius: 4px;
	border:none;
	margin:0px 10px 10px 0px; 

}

a{
	color:white;
	text-decoration: none;
}

#spotify{

	background-color: rgb(132,189,0);
	color:white;
}


#facebook {
background-color:  #3b5998;
color:white; 
}

#twitter {
background-color: #4099FF;
color:white;
}

.section2 p {
	text-align: justify;
	margin-left:50px;
}

.section2 h2{
	margin-left: 70px;

}




ul.nav a:hover { 
	color:orange !important; 
}

.navbar-brand:hover{
color:orange !important;	
}